fastapi==0.116.1
motor==3.6.0
uvicorn==0.32.1
python-dotenv==1.0.1
pydantic==2.11.7
PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.2.1
python-multipart>=0.0.20
cryptography>=45.0.4
qrcode==8.0
Pillow>=11.1.0
slowapi==0.1.9
redis==6.2.0
setuptools>=78.1.1
urllib3>=2.5.0